@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/BebasNeue-webfont.woff') format('woff'), url('../fonts/BebasNeue-webfont.ttf') format('truetype'), url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  overflow: hidden;
}
body,
html {
  height: 100%;
}
.wowbook {
  color: #333;
}
.wowbook-page-content {
  background: white;
}
.wowbook-left .wowbook-gutter-shadow {
  background-image: url('../images/page_left_background.png');
  opacity: 0.5;
  width: 60px;
}
.wowbook-right .wowbook-gutter-shadow {
  background-image: url('../images/page_right_background.png');
  background-position: 0 0;
  width: 75px;
}
body {
  color: black;
  background: #ffffff url("../images/wood.jpg");
  background-position: 50% top;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
#container {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  height: 100%;
  max-width: 900px;
  margin: auto;
  padding-top: 86px;
  padding-bottom: 20px;
}
h1,
h2 {
  font-size: 32px;
  font-weight: normal;
  font-family: 'News Cycle', sans-serif;
  text-shadow: 0 1px 0 rgba(10, 10, 10, 0.5);
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 24px;
  margin-bottom: 0.5em;
}
.top-menu {
    z-index: 9;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top:0;
    zoom: 1;
    background-color: black;
}
nav {
  height: 46px;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2147483647;
  zoom: 1;
    background-color:black;
}
nav a {
  display: block;
  height: 46px;
  width: 48px;
  padding: 0;
  background: #000000 no-repeat;
  background-position: 8px 7px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
nav #zoomin {
  background-image: url(../images/icons/zoom_in.png);
}
nav #zoomout {
  background-image: url(../images/icons/zoom_out.png);
}
nav #first {
  background-image: url(../images/icons/arrow_double_left.png);
}
nav #last {
  background-image: url(../images/icons/arrow_double_right.png);
}
nav #next {
  background-image: url(../images/icons/arrow_right.png);
}
nav #back {
  background-image: url(../images/icons/arrow_left.png);
}
nav #slideshow {
  background-image: url(../images/icons/slideshow_play.png);
}
nav #slideshow.wowbook-disabled {
  background-image: url(../images/icons/slideshow_pause.png);
}
nav #flipsound {
  background-image: url(../images/icons/sound_on.png);
}
nav #flipsound.wowbook-disabled {
  background-image: url(../images/icons/sound_off.png);
}
nav #thumbs {
  background-image: url(../images/icons/thumbs.png);
}
nav #fullscreen {
  background-image: url(../images/icons/fullscreen_on.png);
}
nav #fullscreen.wowbook-disabled {
  background-image: url(../images/icons/fullscreen_off.png);
}
nav a:hover {
  background-color: #2C2C2C;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
}
nav a:active,
nav a:hover,
nav a {
  outline: none;
}
@media screen and (max-width: 568px), screen and (max-height: 380px) {
  #container {
    padding-top: 35px;
    padding-bottom: 5px;
  }
  nav {
    margin: auto;
    top: 0px;
  }
  nav li {
    height: 32px;
  }
  nav li a {
    background-size: 50% 50%;
    height: 32px;
    width: 32px;
  }
  html {
    -webkit-text-size-adjust: none;
  }
  #click_to_open {
    display: none;
  }
}
.wowbook-page-content {
  padding: 1em;
}
#main {
  position: relative;
}
#click_to_open {
  position: absolute;
  left: 25%;
  margin-left: -180px;
  top: 50%;
  margin-top: -50px;
}
.js #features {
  mmargin-left: -12000px;
}
.wowbook-page {
  mmargin: auto;
}
.wowbook-page h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 32px;
  color: white;
  background: #aa2b2b;
  line-height: 1.5;
  padding: 5px 5px 0px;
  margin: 0;
}
.wowbook-page .subtitle {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 18px;
  color: black;
  line-height: 1.5;
  padding: 5px 5px 0px;
  font-style: italic;
}
.wowbook-page p,
.wowbook-page ul {
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
  margin-top: 0.5em;
}
.wowbook-page li {
  list-style: none;
}
#cover {
  background: #ffffff url("../images/cover.jpg") no-repeat;
  background-size: 100% 100%;
}
.feature {
  padding: 1em 1em;
  font-family: 'BebasNeueRegular', sans-serif;
  height: 500px;
  width: 400px;
  background: white;
}
.feature h1,
.feature h2 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 38px;
  color: black;
}
.wowbook-page .feature.pagefx p {
  font-size: 22px;
}
.wowbook-page .feature.pagefx .subtitle {
  margin-top: 0;
  font-size: 18px;
}
.wowbook-page .feature.pagefx h1 {
  font-size: 48px;
  color: #aa2b2b;
  background: none;
  line-height: 0.7;
  padding: 5px 0px 0px;
  margin: 0;
}
.easy {
  background: #ffffff url("../images/easy.png") no-repeat left top;
  background-size: 200% 100%;
  zoom: 1;
  ffont-size: 1.5em;
  ffont-family: lato;
}
.easy h1,
.easy p,
.easy .subtitle {
  display: none;
}
.wowbook-right .easy {
  background-position: right top;
}
.design {
  background: #ffffff url("../images/design.png") no-repeat;
  background-size: 200% 100%;
}
.design h1 {
  background: none;
  text-indent: -10000px;
  color: #88bfbf;
  text-shadow: 1px 1px 0px #447f7f;
  font-size: 144px;
  line-height: 0.8;
  bborder-bottom: 2px solid #88bfbf;
}
.design .subtitle {
  font-family: 'News Cycle', sans-serif;
  font-style: normal;
  font-size: 30px;
  color: #333;
  position: absolute;
  top: 27%;
}
.wowbook-right .design {
  background-position: right top;
}
.wowbook-right .design p {
  text-align: right;
  position: absolute;
  bottom: 1.5em;
  font-size: 30px;
  padding-right: 1em;
}
.responsive pp {
  font-size: 16px;
}
.responsive hh2 {
  font-size: 20px;
}
.responsive h1 {
  color: white;
}
.thumbnails p {
  font-size: 16px;
}
.thumbnails h2 {
  font-size: 20px;
}
.thumbnails h1 {
  color: white;
}
#thumbs_holder {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  left: 0;
  z-index: 10000;
}
#thumbs_holder .wowbook-thumbnails {
  background: none repeat scroll 0 0 #222;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-top: 1px solid white;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid gray;
  border-bottom-color: rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 20px #aa2b2b;
  padding: 10px 0;
  position: relative;
}
#thumbs_holder .wowbook-button {
  background-color: #AA2B2B;
}
.wowbook-thumbnails {
  background: none repeat scroll 0 0 #888;
  background: none repeat scroll 0 0 rgba(128, 128, 128, 0.48);
  border-top: 1px solid white;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid gray;
  border-bottom-color: rgba(64, 64, 64, 0.5);
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.48);
}
.wowbook-horizontal.wowbook-thumbnails {
  padding-top: 10px;
  padding-bottom: 10px;
    bottom: 45px !important;
}
.wowbook-vertical .wowbook-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
}
#thumbs_type,
#thumbs_position,
#thumbs_size {
  text-align: center;
}
#thumbs_position button {
  width: 49%;
}
#zoom-feature {
  background: #ffffff url("../images/zoom.jpg") no-repeat;
  background-size: 200% 100%;
}
#zoom-feature h1 {
  font-size: 100px;
  color: #333;
  background: none;
  line-height: 1.1;
  padding: 5px 0px 0px;
  text-align: right;
}
#zoom-feature2 {
  background-color: white;
  background-image: url("../images/zoom.jpg");
  background-size: 200% 100%;
  background-position: right top;
  background-repeat: no-repeat;
}
.deeplinking {
  color: white;
  background: url("../images/chain.jpg") no-repeat;
  background-size: 200% 100%;
}
.deeplinking h1 {
  color: white;
  background: #3d567d !important;
}
.deeplinking a,
.deeplinking a:active,
.deeplinking a:visited {
  color: #f8f8f8;
  text-decoration: underline;
}
.wowbook-right .deeplinking {
  background-position: top right;
}
.wowbook-page .feature.numbering {
  background: url("../images/numbering.png") #ffffff no-repeat;
  background-size: 100% 100%;
}
.wowbook-page .feature.numbering h1 {
  color: #AA2B2B;
  background: none;
  font-size: 40px;
  padding-left: 0;
  padding-right: 0;
}
.wowbook-page .feature.numbering p {
  font-size: 23px;
}
.wowbook-page .feature.numbering .wowbook-page-number {
  text-indent: 100%;
  overflow: hidden;
}
.wowbook-page .feature.slideshow h1 {
  color: #AA2B2B;
  background: none;
  font-size: 40px;
  padding-left: 0;
  padding-right: 0;
}
.wowbook-page .feature.slideshow a {
  display: block;
  text-align: center;
}
.wowbook-page .feature.flash {
  background: url("../images/flash.png") #ffffff no-repeat;
  background-size: 200% 100%;
  padding-top: 42%;
  /* 170px/400px */

}
.wowbook-page .feature.flash p {
  font-size: 20px;
  padding: 0.7em;
}
.wowbook-page .feature.flash h1 {
  display: none;
}
.feature.flash-demo {
  background: url("../images/flash.png") #ffffff no-repeat;
  background-position: top right;
  background-size: 200% 100%;
  padding-top: 25%;
  text-align: center;
  line-height: 2em;
  font-size: 1.2em;
}
.more {
  background: url("../images/more.png") #ffffff no-repeat;
  background-size: 200% 100%;
  padding-top: 30px;
}
.more h1 {
  display: none;
}
.more ul {
  margin-left: 1em;
}
.more li {
  margin-bottom: 0.7em;
}
.last_cover {
  padding: 0;
}
.wowbook-right .more {
  background-position: top right;
}
